@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Remove the default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 20px;
    padding: 2.5rem 0;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}

/* Filters */

.filters {
  height: 120px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  transition: color 1000ms ease, background-color 1000ms ease;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  color: #b7b3b3;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template: repeat(8, 180px) / repeat(3, 1fr);
  background-color: white;
  max-width: 1500px;
}

/* Grid items */

.item-1 {
  background: url("../images/one.jpg") white;
  grid-column: 1;
  grid-row: 1 / span 3;
}

.item-2 {
  background: url("../images/two.jpg") white;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.item-3 {
  background: url("../images/three.jpg") white;
}

.item-4 {
  background: url("../images/four.jpg") white;
}

.item-5 {
  background: url("../images/five.jpg") white;
  grid-column: 2;
  grid-row: 3 / span 2;
}

.item-6 {
  background: url("../images/six.jpg") white;
}

.item-7 {
  background: url("../images/seven.jpg") white;
  grid-column: 1;
  grid-row: 4 / span 2;
}

.item-8 {
  background: url("../images/eight.jpg") white;
  grid-column: 3;
  grid-row: 4 / span 2;
}

.item-9 {
  background: url("../images/nine.jpg") white;
}

.item-10 {
  background: url("../images/ten.jpg") white;
  grid-column: 3;
  grid-row: 6 / span 3;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10 {
  background-position: center;
  background-size: cover;
}